*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utils */
body{
    background-color: black;
}

.row{
    width: 100%;
    display: flex;
}


/* inizio main */
.button-topbar{
    /* height: 5vh; */
    width: 100%;
    margin-bottom: 10px;
    /* background-color: green; */
    color: white;
    display: flex;
    justify-content: flex-end;
}

.speaker-view{
    padding: 5px;
    background-color: rgba(122, 114, 114, 0.70);
    font-size: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

/* #full-screen{
    padding: 5px;
    background-color: rgba(122, 114, 114, 0.70);
    font-size: 10px;
    border-radius: 5px;
} */

.main-container{
    height: 85vh;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
}

.col-100{
    width: 100%;
    margin: 0 auto;
}

.content{
    width: calc(100% / 7);
    height: 100px;
    margin: 7px 3px;
    position: relative;

}

.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: relative; */
}

.username{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px;
    font-size: 12px;
    background-color: hsla(0, 0%, 0%, 0.2);
}

/* fine main */

/* inizio footer */
.footer-container{
    height: 10vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    color: white;
}

.col-25{
    width: 25%;
    display: flex;
    align-items: center;
    /* height: 50px; */
}

.col-50{
    width: 50%;
    display: flex;
    justify-content: center;
    /* height: 50px; */
}

.col-25 div{
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
}

.inline-list{
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
}

.inline-list li{
    display: inline-block;
    padding: 0 5px;
}

.footer-container p{
    font-size: 10px;
}

/* fine footer */